@import "bootstrap/bootstrap";
@import "font-awesome/fontawesome";
@import "theme/variables";
@import "theme/buttons";
@import "theme/login";

body {
  background-color: $theme-background;
}


main {
  margin-top: 60px;
}

/*
 * Sidebar
 */

.sidebar {
  background-color: darken($theme-background, 3%)!important;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  color: darken($theme-background, 30%);

  &:hover {
    color: darken($theme-background, 80%);
    background-color: $theme-background;
  }
}

.sidebar .nav-link.active {
  background-color: darken($theme-background, 6%)!important;
  border-left: 5px solid $theme-color;
  font-weight: bold;
  color: $theme-color!important;
  padding-left: 10px;

  &:hover {
    color: darken($theme-background, 80%)!important;
    background-color: $theme-background!important;
  }
}

.text-nav {
  margin-left: 10px;
  padding-right: 5px;
}

.sidebar {
  box-shadow: 0px 0px 1px 0px;
  z-index: 1000;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

.btn-outline-dark,
.btn-outline-danger {
  border: 0;
}

.dropdown-menu {
  right: 0!important;
  left: auto;
}

.navbar {
  height: 66px;
}

.btn-user {
  margin-top: 15px;
}

.pull-right {
  float: right;
}

.mb-10 {
  margin-bottom: 10px!important;
}

.ember-cli-g-map {
    height: 300px;
}
