<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <nav class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#principal" role="tab" aria-controls="home" aria-expanded="true">
            Dados Principais
          </a>
          <a {{action 'updateMap'}} class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#address" role="tab" aria-controls="profile" aria-expanded="false">
            Endereços
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="profile" aria-expanded="false">
            Dados Pessoais
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#documment" role="tab" aria-controls="profile" aria-expanded="false">
            Documentos
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#charges" role="tab" aria-controls="profile" aria-expanded="false">
            Cargos
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#family" role="tab" aria-controls="profile" aria-expanded="false">
            Familiar
          </a>
        </nav>
      </div>
      {{#form-validate model=model save='save'}}
        <div class="card-body tab-content">
          <div class="tab-pane active" id="principal" role="tabpanel" aria-labelledby="nav-home-tab" aria-expanded="true">
            <div class="row">
              <div class="col-12">
                <blockquote class="blockquote">
                  <p class="mb-0">Dados Principais</p>
                  <small class="text-muted">Principais informações da célula em questão</small>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Lider</label>
                  {{input-select-each model="member" selected=model.leader}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="custom-control custom-checkbox my-4">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">
                      Usar Mesmo Endereço do Lider?
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="personal" role="tabpanel" aria-labelledby="nav-home-tab" aria-expanded="true">
            <div class="row">
              <div class="col-12">
                <blockquote class="blockquote">
                  <p class="mb-0">Dados Pessoais</p>
                  <small class="text-muted">Dados Pessoais do membro em questão</small>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Data de Nascimento</label>
                  {{input-date value=model.birthday placeholder="ex.: 01/01/1990"}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Estado Cívil</label>
                  {{#input-select selected=model.civilStatus}}
                    <option value="S">Solteiro</option>
                    <option value="C">Casado</option>
                    <option value="D">Divorciado</option>
                    <option value="V">Viúvo</option>
                  {{/input-select}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Escolaridade</label>
                  {{#input-select selected=model.schooling}}
                    <option value="1">Fundamental - Incompleto</option>
                    <option value="2">Fundamental - Completo</option>
                    <option value="3">Médio - Incompleto</option>
                    <option value="4">Médio - Completo</option>
                    <option value="5">Superior - Incompleto</option>
                    <option value="6">Superior - Completo</option>
                  {{/input-select}}
                </div>
              </div>
            </div>
          </div>
          <div class="pull-right mb-10">
            {{#link-to 'member' class="btn btn-light"}}
              <i class="fa fa-arrow-left"></i> Voltar
            {{/link-to}}
            <button class="btn btn-primary" type="submit" name="button">
              <i class="fa fa-save"></i> Salvar
            </button>
          </div>
        </div>
      {{/form-validate}}
    </div>
  </div>
</div>
