<header></header>
<div class="container login-container">

  {{#form-validate model=model save='save'}}
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <h2 class="text-center font-weight-bold">
          <i class="fa fa-user"></i> Crie um novo Membro
        </h2>
        <p class="text-center">Por favor, informe seus dados, para podermos cuidar melhor de você</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="font-weight-bold">
              <i class="fa fa-file"></i> Informações Pessoais
            </p>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nome Completo</label>
                  {{input type="text" class="form-control" value=model.name required=true placeholder="ex.: João da Silva"}}
                  <div class="invalid-feedback">
                    Informe o Nome Completo.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Celular</label>
                  {{one-way-input-mask model.celPhone mask="(99) 9 9999-9999" update=(action (mut model.celPhone)) class="form-control" required=true placeholder="ex.: (12) 3 4567-8910"}}
                  <div class="invalid-feedback">
                    Informe o Celular.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Telefone</label>
                  {{one-way-input-mask model.phone mask="(99) 9999-9999" update=(action (mut model.phone)) class="form-control" required=true placeholder="ex.: (12) 3456-7891"}}
                  <div class="invalid-feedback">
                    Informe o Telefone.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <br>
        <button type="submit" class="btn btn-primary btn-block">Criar Membro</button>
      </div>
    </div>
  {{/form-validate}}
  <div class="row justify-content-md-center">
    <div class="col-lg-4">
      <hr>
      <div class="text-center text-muted ">
        Já possuí cadastro?
        {{#link-to 'login'}}Entrar{{/link-to}}
      </div>
    </div>
  </div>
</div>
