<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {{#link-to 'home'}}
        Início
      {{/link-to}}
    </li>
    <li class="breadcrumb-item">
      {{#link-to 'group'}}
        Células
      {{/link-to}}
    </li>
    <li class="breadcrumb-item active">Nova Célula</li>
  </ol>
</nav>
<div class="row">
  <div class="col-lg-9 col-md-8">
    <h2>Nova Célula</h2>
    <p>Cadastre uma nova célula na sua igreja</p>
  </div>
</div>
{{form-group model=model transition="transition"}}
