<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {{#link-to 'home'}}
        Início
      {{/link-to}}
    </li>
    <li class="breadcrumb-item">
      {{#link-to 'member'}}
        Membros
      {{/link-to}}
    </li>
    <li class="breadcrumb-item active">Editar Membro</li>
  </ol>
</nav>
<div class="row">
  <div class="col-lg-9 col-md-8">
    <h2>{{model.name}}</h2>
    <p>Edite esse membro da sua igreja</p>
  </div>
</div>
{{form-member model=model transition="transition"}}
