<header></header>
<div class="container login-container">

  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <h2 class="text-center font-weight-bold">
        <i class="fa fa-heart"></i> Sucesso!
      </h2>
      <p class="text-center">Obrigado por doar o seu tempo, agora poderemos cuidar melhor de você!</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-4">
      <hr>
      <div class="text-center text-muted ">
        Já possuí cadastro?
        {{#link-to 'login'}}Entrar{{/link-to}}
      </div>
    </div>
  </div>
</div>
